pkgbase = live-for-speed-linux
	pkgdesc = Unofficial launcher for the LFS 0.8C19 new-graphics public test
	pkgver = 0.2.2
	pkgrel = 1
	url = https://github.com/mitzracing/live-for-speed-linux
	install = live-for-speed-linux.install
	arch = x86_64
	license = MIT
	depends = 7zip
	depends = bash
	depends = coreutils
	depends = curl
	depends = desktop-file-utils
	depends = findutils
	depends = gawk
	depends = grep
	depends = libarchive
	depends = libpulse
	depends = sed
	depends = tar
	depends = util-linux
	depends = vulkan-icd-loader
	depends = vulkan-driver
	depends = wine=11.15-1
	depends = xdotool
	depends = xterm
	optdepends = libnotify: desktop launch error notifications
	optdepends = vulkan-tools: detailed Vulkan diagnostics
	optdepends = wmctrl: focus an existing LFS window
	provides = lfs-linux
	provides = live-for-speed-launcher
	conflicts = lfs-linux
	conflicts = live-for-speed-launcher
	replaces = lfs-linux
	replaces = live-for-speed-launcher
	source = live-for-speed-linux-0.2.2.tar.gz::https://github.com/mitzracing/live-for-speed-linux/releases/download/v0.2.2/live-for-speed-linux-0.2.2.tar.gz
	sha256sums = 36f5054a7be9d89c4b7439998f4c34170f49a7f3fd7363068f41dc45dd1bb986

pkgname = live-for-speed-linux
