pkgbase = live-for-speed-launcher
	pkgdesc = Unofficial community Linux launcher for Live for Speed
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/mitzracing/live-for-speed-linux-launcher
	install = live-for-speed-launcher.install
	arch = x86_64
	license = MIT
	depends = 7zip
	depends = bash
	depends = coreutils
	depends = curl
	depends = desktop-file-utils
	depends = findutils
	depends = gawk
	depends = grep
	depends = libarchive
	depends = libpulse
	depends = sed
	depends = tar
	depends = util-linux
	depends = vulkan-icd-loader
	depends = vulkan-driver
	depends = wine=11.15-1
	depends = xdotool
	depends = xterm
	optdepends = libnotify: desktop launch error notifications
	optdepends = vulkan-tools: detailed Vulkan diagnostics
	optdepends = wmctrl: focus an existing LFS window
	provides = lfs-linux
	conflicts = lfs-linux
	replaces = lfs-linux
	source = live-for-speed-linux-launcher-0.1.2.tar.gz::https://github.com/mitzracing/live-for-speed-linux-launcher/releases/download/v0.1.2/live-for-speed-linux-launcher-0.1.2.tar.gz
	sha256sums = d929eb83fa3e7fab4479dfabb30714fd2a6725e888ee104f39062b0732f52bde

pkgname = live-for-speed-launcher
